<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body {
      margin: 0;
      background-color: #121212;
      color: #fff;
    }

    .product-list {
      width: 80%;
      margin: auto;
      background-color: #2e2e2e;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      margin-top: 50px;
    }

    .product-list h1,
    .product-list h2 {
      margin-bottom: 20px;
    }

    .ul-custom {
      list-style: none;
      padding: 0;
    }

    .li-custom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #1f1f1f;
      padding: 15px;
      border-radius: 8px;
      margin-bottom: 15px;
    }

    .li-custom span {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .li-custom div {
      display: flex;
      align-items: center;
    }

    .btn {
      margin-left: 10px;
      cursor: pointer;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 4px;
      padding: 8px 12px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
    }

    .btn-danger {
      background-color: #FF5733;
    }

    .form-group {
      margin-bottom: 15px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 15px;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #1f1f1f;
      color: #fff;
    }

    button {
      cursor: pointer;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 4px;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>
</head>

<body>
  <section class="d-flex justify-content-center align-items-center vh-100">
    <div class="product-list">
      <h1>Product List</h1>
      <ul class="ul-custom">
        {{#each products}}
        <li class="li-custom">
          <span>{{this.title}}</span>
          <div>
            <a href="/products/{{this.id}}" class="btn btn-success">View Detail</a>
            <button class="btn btn-success add-to-cart" data-product-id="{{this.id}}"
              data-product-title="{{this.title}}" data-product-price="{{this.price}}">Add to cart</button>
            <button type="button" id="btn-delete" class="btn btn-danger btn-sm ml-2 btn-delete"
              data-product-id="{{this.id}}">Delete Product</button>
          </div>
        </li>
        {{/each}}
      </ul>
      <div>
        <h2>Add Product</h2>
        <form id="productForm">
          <div class="form-group">
            <input type="text" id="title" placeholder="Title" required>
          </div>
          <div class="form-group">
            <input type="text" id="code" placeholder="code" required>
          </div>
          <div class="form-group">
            <input type="number" id="price" placeholder="Price" required>
          </div>
          <div class="form-group">
            <input type="text" id="stock" placeholder="stock" required>
          </div>
          <div class="form-group">
            <textarea id="description" placeholder="Description" required></textarea>
          </div>
          <button type="submit">Add product</button>
        </form>
      </div>
    </div>
  </section>
</body>
</html>

<script>
  const addToCartButtons = document.querySelectorAll('.add-to-cart');
  addToCartButtons.forEach(button => {
    button.addEventListener('click', async (event) => {
      const productId = event.target.getAttribute('data-product-id');
      const productTitle = event.target.getAttribute('data-product-title');
      const productPrice = event.target.getAttribute('data-product-price');
      const productDescription = event.target.getAttribute('data-product-description');

      const product = {
        id: productId,
        title: productTitle,
        price: parseFloat(productPrice),
        description: productDescription
      };

      try {
        const response = await fetch(`/api/carts/products`, {
          method: "POST",
          headers: { "Content-type": "application/json; charset=UTF-8" },
          body: JSON.stringify(product)
        });
        console.log(response);
      } catch (error) {
        console.error('Error al realizar la solicitud POST:', error);
      }
    });
  });

  const productForm = document.getElementById("productForm");
  productForm.addEventListener("submit", async function (event) {
    event.preventDefault();
    const title = document.getElementById("title").value;
    const code = document.getElementById("code").value;
    const price = parseFloat(document.getElementById("price").value);
    const stock = document.getElementById("stock").value;
    const description = document.getElementById("description").value;

    if (!title || !code || isNaN(price) || price <= 0 || !stock || !description) {
      alert("Por favor, ingrese información válida.");
      return;
    }

    const productData = {
      title,
      code,
      price,
      stock,
      description
    };

    try {
      const response = await fetch("/api/products", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(productData),
      });

      if (response.status === 201) {
        document.getElementById("title").value = "";
        document.getElementById("code").value = "";
        document.getElementById("price").value = "";
        document.getElementById("stock").value = "";
        document.getElementById("description").value = "";
      }
      window.location.reload();
    } catch (error) {
      console.error("Error al realizar la solicitud POST:", error);
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    const deleteButtons = document.querySelectorAll('.btn-delete');

    deleteButtons.forEach(button => {
      button.addEventListener('click', async (event) => {
        const productId = event.target.getAttribute('data-product-id');
        console.log(productId);
        try {
          const res = await fetch(`/api/products/${productId}`, {
            method: "DELETE",
            headers: { "Content-type": "application/json; charset=UTF-8" },
          });
          console.log(res);
        } catch (error) {
          console.error(error);
        }
      });
    });
  });
</script>