<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Arial', sans-serif;
      background-color: #252729;
    }

    .container-dashboard {
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px;
      min-height: 100vh;
      max-width: 1200px;
      margin: 0 auto;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 30px;
      color: #fff;
    }

    th, td {
      border: 1px solid #495057;
      text-align: left;
      padding: 15px;
    }

    th {
      background-color: #343a40;
    }

    .role-select {
      margin-left: 20px;
      padding: 8px;
      border: 1px solid #495057;
      background-color: #212529;
      color: #fff;
    }

    .td-special {
      width: 300px;
    }

    .btn {
      padding: 8px 16px;
      margin: 5px;
    }

    .btn-success {
      background-color: #28a745;
      border-color: #28a745;
    }

    .btn-danger {
      background-color: #dc3545;
      border-color: #dc3545;
    }
  </style>
</head>

<body>
  <section class="container-dashboard">
    <h1 class="text-center mb-5">Usuarios en el Dashboard</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Edad</th>
          <th class="td-special">Role</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{this.first_name}} {{this.last_name}}</td>
          <td>{{this.email}}</td>
          <td>{{this.age}}</td>
          <td class="td-special">
            <span>{{this.role}}</span>
            <select class="role-select" id="roleSelect-{{this.id}}">
              <option value="">Seleccione un rol</option>
              <option value="user">Usuario</option>
              <option value="moderator">Moderador</option>
              <option value="admin">Administrador</option>
            </select>
          </td>
          <td>
            <button class="btn btn-success" onclick="changeRole('{{this.id}}')">Cambiar rol</button>
            <button class="btn btn-danger" onclick="deleteUser('{{this.id}}')">Eliminar</button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
</body>

</html>

<script>
  async function changeRole(userId) {
    const roleSelect = document.getElementById(`roleSelect-${userId}`);
    const selectedRole = roleSelect.value;

    const response = await fetch('/api/users/dashboard/change-role', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ userId, role: selectedRole })
    });

    if (response.ok) {
      Toastify({
        text: "Se modifico correctamente el rol",
        className: "info",
        style: {
          background: "linear-gradient(to left, #00ff00, #96c93d)",
        }
      }).showToast();
      window.location.reload();
    }
  }

  async function deleteUser(userId) {
    try {
      const response = await fetch(`/api/users/dashboard/delete-user/${userId}`, {
        method: 'DELETE',
      });

      if (response.ok) {
        Toastify({
          text: "Se elimino correctamente el usuario",
          className: "info",
          style: {
            background: "linear-gradient(to right, #ff0000, #ff4500)",
          }
        }).showToast();
        window.location.reload();
      }
    } catch (error) {
      throw error;
    }
  }
</script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>